#mainDiv {
	/*background-color: #555555;*/
	/*width: 100%;*/
	height: 100%;
	display: inline-block;
	/*border: 8px solid #363636;*/
}
#Player1Div {
	/*background-color: rgba(44, 72, 120, 1);*/
	/*width: 480px;*/
	height: 100%;
	float: left;
	display: block;
	/*display: table;*/
	vertical-align: top;
	/*border-right: 10px solid #363636;*/
	/*border: 1px solid red;*/
}
.ui-labels {
	margin: 10px;
	padding: 10px;
}
.controls {
	margin-left:15px;
	margin-top:-1.2%; 
}
#TagsDiv {
	/*float:none;*/
	/*background-color: rgba(54, 145, 236, 1);*/
	height: 100%;
	
}
#Player2Div {
	/*background-color: rgba(21, 49, 114, 1);*/
	/*width: 100%;*/
	height: 100%;
	float: left;
	display: block;
}

#feedback {
	font-size: 1.4em;
}
#tag .ui-selecting {
	background: #729FCF;
}

.ui-state-hover {
	color: orange;
}

#tag {
	list-style-type: none;
	margin-left: 5px;
	padding: 0;
}
#tag li {
	margin: 9px;
	padding: 0.5em;
	font-size: 1.4em;
	height: 12px;
	line-height: 12px;
	/*text-align:center;*/
}
#tags {
	overflow-y: auto;
	width: 100%;
	height: 303px;
	margin-top:-2.2%; 
}

.player {
	margin: 8px;
	/*border:#0000FF 25px solid; */
}

